name: Android CI

on:
  push:
    branches:
      - feature_ci_cd_student16
  pull_request:
    branches:
      - feature_ci_cd_student16

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: '25'
          distribution: 'temurin'

      - name: Grant Gradlew executable permission
        run: chmod +x ./gradlew

      - name: Build with Gradle
        run: ./gradlew build